<style type="text/css">
  .container {
    width: 1078px;
}
img{
  width: 57%;
      margin-top: 1em;
    margin-bottom: 1em;
}
tr{
      border-bottom: 2px solid #e9e0e0;
      /*padding: 10px 0;*/
}
th{
      position: relative !important;
    left: -0.6em;
}
</style>


<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Cart Details</h2>
                <!-- <h2>Total Amount:</h2> -->
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="container md-dialog-content">
       
         <table md-colresize="md-colresize" class="md-table col-md-12 col-sm-12 col-xs-12">
           <thead>
            <tr class="md-table-headers-row">
              <th class="md-table-header col-md-1">
              No.

              </th>
              <th class="col-md-2"></th>
              <th class="col-md-2">Product</th>
              <th class="col-md-2">Price</th>
              <th class="col-md-2">Quantity</th>
              <th class="col-md-2">Total</th>
              <th class="col-md-2">Remove</th>
              <!-- <th> -->
                 

              <!-- </th> -->


            </tr>

           </thead>

            <tbody>
               <tr ng-repeat="c in x track by $index" class="md-table-content-row">
                 <td class="md-tablel-td-more">
                 {{$index+1}}
                 </td>
                 <td><img ng-src="{{c.img}}"></td>
                 <td>{{c.Name}}</td>
                 <td>{{c.Price}}</td>
                 <td>
                  
               <input type="number" value="1" min="1" ng-model="items">
                 </td>
                 <td>{{items*c.Price}}</td>
                 <!-- <td>{{items}}</td>  -->
                 <td ng-click="remove($index)"><i class="fa fa-times fa-2x modal" aria-hidden="true"></i></td>
               </tr>


            </tbody>



         </table>



       
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
     <!--  <md-button href="#" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button> -->
   
     
      <md-button class="md-raised" ng-click="clear()">
        Clear
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>